@font-face {
  font-family: 'Madelyn';
  src: url('./assets/fonts/Madelyn-Trial-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Symphony Pro';
  src: url('./assets/fonts/symphony-pro-regular.otf') format('opentype');
}

@font-face {
  font-family: 'Awesome Lathusca';
  src: url('./assets/fonts/Awesome-Lathusca.TTF') format('opentype');
}