.weku-footer {
  width: 100%;
  margin: 0 auto;
}

.weku-logo-footer {
  color: #eb2f59;
  font-size: 20px;
  font-family: "Platypi", serif;
  font-weight: 700;
}

.weku-copyright {
  color: #44474d;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 22.4px;
}

.weku-link {
  color: #44474d;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 22.4px;
}

.weku-link:hover {
  color: #eb2f59;
}