.border-manage {
  outline: 5px solid #BAA14F;
  border-radius: 20px;
  padding: 1.5rem;
  padding-bottom: 0 !important;
}

.btn-simpan {
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  background-color: #bfa14a;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 0 15px 15px;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-simpan:hover {
  background-color: #a98f3e;
}

.sub-judul {
  font-family: poppins;
  font-size: 15px;
  color: #3D3D3D;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "Poppins", sans-serif;
}

.upload-box {
  width: 120px;
  height: 120px;
  border: 3px dashed #000;
  border-radius: 8px;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.upload-box:hover {
  background-color: #ddd;
}

.plus-icon {
  font-size: 48px;
  color: #000;
  font-weight: bold;
}

.preview-box {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #ccc;
}

.preview-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
