.admin-navbar {
  height: 75px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 20px; /* tambahkan ini */
  position: sticky; /* biar navbar tetap di atas saat scroll */
  top: 0;
  z-index: 1100;
}

.hamburger-btn {
  background: transparent;
  border: none;
  color: #44474D;
  display: flex;
  cursor: pointer;
}

.weku-logo {
  color: #d6336c;
  font-family: "Georgia", serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.nav-tabs-wrapper {
  display: flex;
  gap: 32px;
  margin: 0 auto;
}

.nav-tab-item {
  color: #44474D;
  text-decoration: none;
  font-size: 1rem;
  padding: 6px 0;
}

.nav-tab-item:hover {
  color: #031632;
  text-decoration: none;
  font-weight: 700;
}

.nav-tab-item.active {
  color: #031632;
  font-weight: 700;
  border-bottom: 2px solid #031632;
}

.navbar-avatar .btn-link {
  color: #d6336c;
  font-size: 1rem;
}

.navbar-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .hamburger-btn {
    display: none;
  }
}

/* Tab menu cuma untuk desktop */
@media (max-width: 767.98px) {
  .nav-tabs-wrapper {
    display: none;
  }

  .navbar-avatar {
    display: none;
  }
}