.upload-foto-wrapper {
  font-family: "Poppins", sans-serif;
}

.sub-judul {
    font-family: poppins;
    font-size: 15px;
    color: #5D5D5D;
}

.upload-box {
  background: #e9e9e9;
  border-radius: 5px;
  outline: 3px solid black;
  outline-offset: -1.5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.upload-box:hover {
  background-color: #dcdcdc;
  transform: scale(1.03);
}

.upload-plus {
  color: black;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 1;
}

.upload-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.btn-close-custom {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 6px;
  width: 20px;
  height: 20px;
  opacity: 1;
  transition: all 0.2s ease;
}

.btn-close-custom:hover {
  background-color: rgba(255, 0, 0, 0.8);
  transform: scale(1.1);
}
