.upload-simple {
  width: 100%;
  height: 48px;
  border: 2px dashed #e3e3e3;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  font-family: "Poppins";
}

.upload-icon {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.upload-simple-text {
  color: #8a95a0;
  font-size: 14px;
  font-weight: 400;
}